VITE_PARCHIS_NAMESPACE=parchis_trivia

# mainnet | sepolia | katana
VITE_STARKNET_NETWORK=sepolia
VITE_USE_LIVE_RPC=false

VITE_STARKNET_MAINNET_RPC_URL=https://api.cartridge.gg/x/starknet/mainnet
VITE_STARKNET_SEPOLIA_RPC_URL=https://api.cartridge.gg/x/starknet/sepolia
VITE_STARKNET_KATANA_RPC_URL=http://127.0.0.1:5050

VITE_DOJO_WORLD_ADDRESS=
VITE_CONFIG_SYSTEM_ADDRESS=
VITE_LOBBY_SYSTEM_ADDRESS=
VITE_TURN_SYSTEM_ADDRESS=
VITE_SHOP_SYSTEM_ADDRESS=
VITE_ADMIN_SYSTEM_ADDRESS=
VITE_EGS_SYSTEM_ADDRESS=
VITE_EGS_TOKEN_DATA_SYSTEM_ADDRESS=
VITE_VRF_PROVIDER_ADDRESS=0x051fea4450da9d6aee758bdeba88b2f665bcbf549d2c61421aa724e9ac0ced8f
VITE_DOJO_TORII_URL=http://127.0.0.1:50051
VITE_DOJO_RELAY_URL=/ip4/127.0.0.1/tcp/9090
VITE_DOJO_MANIFEST_PATH=../manifest_dev.json
